# Find largest & smallest element

In [7]:
n = int(input("Enter list size:"))
num = []
for i in range(n):
    value = int(input("Enter value:"))
    num.append(value)
max = num[0];
min = num[0];
for i in range(n):
    if(num[i] > max):
        max = num[i]
    else:
        min = num[i]
print("Larjest Number:",max)
print("Smallest Number:",min)

Enter list size: 3
Enter value: 10
Enter value: 5
Enter value: 45

Larjest Number: 45
Smallest Number: 5

# Remove duplicate elements

In [4]:
n = int(input("Enter List Size:"))
num = []
for i in range(n):
    value = int(input("Enter Value:"))
    num.append(value)
unique = []
for i in num:
    if num not in unique:
        unique.append(i)
print(unique)

Enter List Size: 5
Enter Value: 1
Enter Value: 2
Enter Value: 1
Enter Value: 3
Enter Value: 2

[1, 2, 3]

# Find sum of list elements

In [5]:
n = int(input("Enter List size:"))
num = []
sum = 0;
for i in range(n):
    value = int(input("Enter a value:"))
    num.append(value)
for i in num:
    sum+=i
print(sum);

Enter List size: 3
Enter a value: 1
Enter a value: 2
Enter a value: 3

6

# Sort list without sort()

In [12]:
n = int(input("Enter List size: "))
num = []

for i in range(n):
    value = int(input("Enter a value: "))
    num.append(value)

for i in range(n):
    for j in range(0, n - i - 1):
        if num[j] > num[j + 1]:
            temp = num[j]
            num[j] = num[j + 1]
            num[j + 1] = temp

print(num)

Enter List size:  3
Enter a value:  2
Enter a value:  5
Enter a value:  1

[1, 2, 5]

# Find second largest element

In [18]:
n = int(input("Enter List size: "))
num = []

for i in range(n):
    value = int(input("Enter a value: "))
    num.append(value)
max = num[0];
smax = -1;
for i in range(n):
    if(num[i] > max):
        smax = max;
        max = num[i];
    elif(num[i] < max and num[i] > smax):
        smax = num[i];
print("Second Largest Element:",smax)

Enter List size:  4
Enter a value:  2
Enter a value:  4
Enter a value:  8
Enter a value:  1

Second Largest Element: 4

# Reverse a list

In [25]:
n = int(input("Enter List size: "))
num = []

for i in range(n):
    value = int(input("Enter a value: "))
    num.append(value)
rev = []    
for i in range(n-1,-1,-1):
    rev.append(num[i])
print(rev)

Enter List size:  3
Enter a value:  1
Enter a value:  2
Enter a value:  3

[3, 2, 1]

# Count even and odd numbers

In [27]:
n = int(input("Enter List size: "))
num = []

for i in range(n):
    value = int(input("Enter a value: "))
    num.append(value)
even = 0
odd = 0
for i in num:
    if(i % 2 == 0):
        even = even+1;
    else:
        odd = odd+1;
print("counted Even Number:",even)
print("counted Odd Number:",odd)

Enter List size:  5
Enter a value:  1
Enter a value:  2
Enter a value:  3
Enter a value:  4
Enter a value:  5

counted Even Number: 2
counted Odd Number: 3

# Merge two lists

In [28]:
l1 = [1,2,3]
l2 = [4,5,6]
print(l1+l2)

[1, 2, 3, 4, 5, 6]

# Find common elements in two lists

In [32]:
l1 = [1,2,3]
l2 = [2,3,6]
res = []
for i in l1:
    if i in l2:
        res.append(i);
print(res)

[2, 3]

# Rotate list by K positions

In [34]:
n = int(input("Enter List size: "))
num = []

for i in range(n):
    value = int(input("Enter a value: "))
    num.append(value)
k = int(input("Enter K Position:"))    
k = k % n;
rotated = num[k:]+num[:k]
print(rotated)

Enter List size:  4
Enter a value:  1
Enter a value:  2
Enter a value:  3
Enter a value:  4
Enter K Position: 5

[2, 3, 4, 1]