<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 7</b></center> 
<center><b><h3>Roll No : 453</b></center> 
<center><b><h3>Name : Savaliya Dhruvi B.</b></center> 
<pre>

### 01) WAP to find sum of tuple elements.
**Sample Input:**
```
T = (10, 20, 30, 40)

```
**Sample Output:**
```
Sum of tuple elements = 100
```

In [2]:
t = (10,20,30,40)
sum = 0;
for i in t:
    sum+=i;
print("Sum of tuple elements = ",sum)

Sum of tuple elements =  100

### 02) WAP to find Maximum and Minimum K elements in a given tuple.
**Sample Input:**
```
T = (7, 2, 9, 4, 1, 5)
K = 2

```
**Sample Output:**
```
Minimum 2 elements: (1, 2)
Maximum 2 elements: (9, 7)
```

In [6]:
t = (7, 2, 9, 4, 1, 5)
k = 2
L = list(t)
L.sort()
min = []
for i in range(k):
    min.append(L[i])
max = []
for i in range(len(L)-1,len(L)-k-1,-1):
    max.append(L[i])
print(f"Minimum {k} element: {tuple(min)}")
print(f"Maximum {k} element: {tuple(max)}")

Minimum 2 element: (1, 2)
Maximum 2 element: (9, 7)

### 03) WAP to find tuples which have all elements divisible by K from a list of tuples.
**Sample Input:**
```
tuple_list = [(2, 4, 6), (3, 6, 9), (4, 8, 12), (5, 10, 15)]
K = 2

```
**Sample Output:**
```
Tuples divisible by 2 : [(2, 4, 6), (4, 8, 12)]
```

In [25]:
t = [(2, 4, 6), (3, 6, 9), (4, 8, 12), (5, 10, 15)]
k = 2
ans = []
for i in t:
    flag = 1;
    for j in i:
        if(j%k != 0):
            flag = 0
            break;
    if flag:            
        ans.append(i) 
print(ans)

[(2, 4, 6), (4, 8, 12)]

### 04) WAP to create a list of tuples from given list having number and its cube in each tuple.

**Sample Input:**
```
numbers = [1, 2, 3, 4, 5]

```
**Sample Output:**
```
List of tuples with number and its cube: [(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]
```

In [32]:
t = [1, 2, 3, 4, 5]
res = [(i,i**3) for i in t]
print(res)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

### 05) WAP to find tuples with all positive elements from the given list of tuples.

**Sample Input:**
```
tuple_list = [(1, 2, 3), (-1, 2, 3), (4, 5, 6), (0, 1, 2), (-3, -4, -5)]

```
**Sample Output:**
```
Tuples with all positive elements: [(1, 2, 3), (4, 5, 6)]
```

In [35]:
#why can not use membership opreter in tuple
t = [(1, 2, 3), (-1, 2, 3), (4, 5, 6), (0, 1, 2), (-3, -4, -5)]
res = [];
for i in t:
    flag = 1
    for j in i:
        if j <= 0:
            flag = 0
            break;
    if flag:
      res.append(i);
print(res)

[(1, 2, 3), (4, 5, 6)]

### 06) WAP to remove tuples of length K.
**Sample Input:**
```
tuple_list = [(1, 2), (3, 4, 5), (6,), (7, 8, 9), (10, 11)]
K = 2

```
**Sample Output:**
```
List after removing tuples of length 2 : [(3, 4, 5), (6,), (7, 8, 9)]
```

In [42]:
t = [(1, 2), (3, 4, 5), (6,), (7, 8, 9), (10, 11)]
k = 2
res = []
for i in t:
    if k != len(i):
        res.append(i)
print(res);

[(3, 4, 5), (6,), (7, 8, 9)]

### 07) WAP to remove all occurrences of a given element from a tuple.

**Sample Input:**
```
T = (3, 5, 3, 7, 3, 9)
x = 3
```
**Sample Output:**
```
(5, 7, 9)
```

In [48]:
t = (3, 5, 3, 7, 3, 9)
x = 3
res = []
for i in t:
    if i != x:
        res.append(i)
print(tuple(res))

(5, 7, 9)

### 08) WAP to remove duplicates from tuple.

**Sample Input:**
```
T = (3, 5, 3, 7, 3, 9)
```
**Sample Output:**
```
(3, 5, 7, 9)
```

In [11]:
t = (3, 5, 3, 7, 3, 9)
res = []
for i in t:
    if i not in res:
        res.append(i)
print(tuple(res))

(3, 5, 7, 9)

### 09) WAP to multiply adjacent elements of a tuple and print that resultant tuple.
**Sample Input:**
```
t = (2, 3, 4, 5)
```
**Sample Output:**
```
Resultant tuple after multiplying adjacent elements: (6, 12, 20)
```

In [52]:
t = (2, 3, 4, 5)
res = ()
for i in range(len(t)-1):
    ans = t[i]*t[i+1]
    res+=(ans,)
print(res)

(6, 12, 20)

### 10) WAP to test if the given tuple is distinct or not.
**Sample Input:**
```
tuple1 = (1, 2, 3, 4)
tuple2 = (1, 2, 2, 3)
```
**Sample Output:**
```
(1, 2, 3, 4) is distinct? -> True
(1, 2, 2, 3) is distinct? -> False
```

In [24]:
t1 = (1, 2, 3, 4)
t2 = (1, 2, 3, 4)
flag = 1; 
for i in range(len(t2)-1):
    for j in range(i+1,len(t2)-1):
        if t2[i] == t2[j]:
            flag = 0;
            break;
if (flag==1):
    print("True")
else:
    print("flase")

True

### 11) WAP to rotate the elements of a tuple to the right by `k` positions.

**Sample Input:**
```
T = (10, 20, 30, 40, 50)
k = 2
```
**Sample Output:**
```
(40, 50, 10, 20, 30)
```

In [20]:
t = (10, 20, 30, 40, 50)
k = 2
k = k % len(t)
res = t[-k:] + t[:-k]
print(res)

(40, 50, 10, 20, 30)

### 12) WAP to merge two tuples of equal length alternately.

**Sample Input:**
```
T1 = (1, 3, 5)
T2 = (2, 4, 6)
```
**Sample Output:**
```
(1, 2, 3, 4, 5, 6)
```

In [10]:
T1 = (1, 3, 5)
T2 = (2, 4, 6)
print(T1+T2)

(1, 3, 5, 2, 4, 6)

### 13) WAP to create a tuple of squares of elements that are even and greater than 10.

**Sample Input:**
```
T = (4, 12, 7, 18, 10)
```
**Sample Output:**
```
(144, 324)
```

In [2]:
T = (4, 12, 7, 18, 10)
res = [i**2 for i in T if(i % 2 == 0 and i > 10)]
print(tuple(res))

(144, 324)

### 14) WAP to create (index, value) pairs for prime numbers.

**Sample Input:**
```
T = (4, 7, 9, 11, 15)
```
**Sample Output:**
```
((1, 7), (3, 11))
```

In [17]:
T = (4, 7, 9, 11, 15)
res = []
for i in range(len(T)):
    num = T[i]
    count = 0;
    for j in range(1,num+1):
        if num % j == 0:
            count += 1;
    if(count == 2):
        res.append((i,num))
print(tuple(res))

((1, 7), (3, 11))

### 15) WAP to split a tuple into even-index and odd-index tuples.

**Sample Input:**
```
T = ('a', 'b', 'c', 'd', 'e')
```

**Sample Input:**
```
even = ('a', 'c', 'e')
odd = ('b', 'd')
```

In [9]:
T = ('a', 'b', 'c', 'd', 'e')

res1 = [T[i] for i in range(len(T)) if i % 2 == 0]
print("even =", tuple(res1))

res2 = [T[i] for i in range(len(T)) if i % 2 != 0]
print("odd =", tuple(res2))

even = ('a', 'c', 'e')
odd = ('b', 'd')

### 16) WAP to compute column-wise sum from a tuple of lists.

**Sample Input:**
```
T = ([1, 2, 3], [4, 5, 6], [7, 8, 9])
```

**Sample Output:**
```
12 15 18

```

In [14]:
T = ([1, 2, 3], [4, 5, 6], [7, 8, 9])
for i in range(len(T[0])):
    col_sum = 0
    for row in T:
        col_sum+=row[i]
    print(col_sum,end=" ")

12 15 18